@model WebEvento.ViewModel.InformationViewModel
@using WebEventoo_DomainClasses.Model;
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-pages">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-1">
                <div class="text-left">
                    <div>
                        <a href="index-2.html" class="logo logo-admin"><img src="~/assets/images/users/avatar-2.jpg" height="28" alt="logo"></a>
                    </div>
                    <h5 class="font-14 text-muted mb-4">فراموش کردن رمز عبور</h5>
                    <p class="text-muted mb-4">لطفا ایمیل خود را وارد کنید </p>

                    <h5 class="font-14 text-muted mb-4">مقررات :</h5>
                    <div>
                        <p><i class="mdi mdi-arrow-right text-primary mr-2"></i>استفاده در ایونتو</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center">
                            <div>
                                <a href="index-2.html" class="logo logo-admin"><img src="~/assets/images/logo_dark.png" height="28" alt="logo"></a>
                            </div>
                            <h4 class="text-muted font-18 mt-4">باز یابی رمز عبور</h4>
                        </div>

                        <div class="p-2">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form class="form-horizontal m-t-20" asp-antiforgery="true">

                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    لطفا نام کاربری خود را وارد کنید
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control" asp-for="Users.UserName" type="email" required="" placeholder="نام کاربری">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control" asp-for="Users.Password" type="email" required="" placeholder="رمز عبور">
                                    </div>
                                </div>

                                <div class="form-group text-center row m-t-20">
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit" id="btnsave">ثبت</button>
                                    </div>
                                </div>

                            </form>
                            <!-- end form -->
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
    </div>
</div>
@section Script
            {
    <script type="text/javascript">
                $('#btnsave').click(function(evt) {
                    evt.preventDefault();
                    
  var payload = $('form').serialize();


  $.ajax({
    url: '@Url.Action("ForgetPassword", "Account")',
     type: 'POST',
     data: payload,
     success: function (result) {
         //success
         if (result.Succeeded) {
       
             alert(result.Message);
         }
         if (result.Succeeded == false)
         {
               alert(result.Message);
         }
      
         
     
 
 
       
        

     },
     error: function (error) {
       //error
   
     }
  });
        });
        </script>

                   
        }

